---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../../src/styles/global.css";
import "@fontsource-variable/inter";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="keywords" content="Desarrollador Frontend, React Developer, Astro Framework, Tailwind CSS, Full Stack Developer, Node.js, Desarrollo Web Mérida Venezuela, Alirio Isea, JavaScript" />
    <meta name="author" content="Alirio Isea" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#171717" />
    <link rel="canonical" href="https://alirioi.dev" />
    <link rel="manifest" href="/manifest.json" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alirioi.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://alirioi.dev/og-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://alirioi.dev/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://alirioi.dev/og-image.jpg" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Alirio Isea",
        "url": "https://alirioi.dev",
        "image": "https://alirioi.dev/og-image.jpg",
        "sameAs": [
          "https://www.linkedin.com/in/alirioi/",
          "https://www.github.com/alirioi"
        ],
        "jobTitle": "Frontend Developer",
        "description": "Desarrollador Frontend de Mérida, Venezuela, especializado en crear experiencias web rápidas y escalables con React y Astro."
      }
    </script>
  </head>

  <body class="bg-neutral-950 flex flex-col min-h-screen">
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
