---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta
      name="keywords"
      content="Desarrollador Frontend, React Developer, Astro Framework, Tailwind CSS, Full Stack Developer, Node.js, Desarrollo Web Mérida Venezuela, Alirio Isea, JavaScript"
    />
    <meta name="author" content="Alirio Isea" />
    <link rel="canonical" href="https://alirioi.dev" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alirioi.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://alirioi.dev/og-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://alirioi.dev/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://alirioi.dev/og-image.jpg" />
  </head>

  <body class="bg-neutral-950 flex flex-col min-h-screen">
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @theme {
    --color-primary: #4caf50; /* #4CAF50 */
    --color-primary-300: #81c784; /* Hover/Interactivos*/
    --color-primary-700: #388e3c; /* Bordes/Detalles*/

    --color-dark: #111111; /* Fondo principal */
    --color-dark-200: #424242; /* Bordes secundarios */
    --color-dark-400: #757575; /* Texto secundario*/
    --color-dark-50: #fafafa; /* Texto principal */

    --color-accent: #00f7ff; /*Destacar elementos clave*/
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-family: "Inter Variable", sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
